*{
    font-family: 'poppins',sans-serif;
    border-radius: 4px;
}
label{
    display: inline-block;
    width: 100px;
}
#lname{
    position: relative;
    left: 53px;
    border-radius: 4px;

}
.container{
    text-align: center;
    box-shadow: 0 0 50px rgb(red, green, blue);
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(red, green, blue);
    margin: auto;
    max-width: 600px;
    margin-top: 170px;
    border-radius: 20px;
}
.message label{
    position: relative;
    bottom: 93px;
}
#message{
    height: 100px;
}
.button{
    position: relative;
    left: 110px;
    border-radius: 10px;
}